.container-about {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 1023px;
  width: 100%;
}

.about-text {
  margin: auto 10px;
}

// Adaptation pour tablette
@media screen and (max-width: 1024px) {
  .container-about {
    max-width: 750px;
  }
}

// Adaptation pour mobile
@media screen and (max-width: 768px) {
  .container-about {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}
