.logements-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1240px;
  margin-top: 20px;
  padding: 40px;
  background: #f6f6f6;
  border-radius: 25px;
  margin: 30px;
}
