.logo {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  background: white;
  position: relative;
  margin-top: 10px;
}






@media screen and (max-width: 768px) {
  .logo {
    width: 130px;
    height: auto;
  }

}