.logo {
  display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      color: #FF6060;
      background: white;
      position: relative;
      margin-top: 10px;
  }
  
  
  .firstLetter {
    height: 62px;
    width: 54px;
    bottom: 5px;
    position: relative;
  }
  
  .s-letter, .a-letter {
    height: 48px;
    width: 40px;
    padding-left: 5px;
  }
  
  .logo-container {
    position: relative;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  
  .logo-house {
    width: 46px;
    height: 53px;
  }
  
  .logo-door {
    position: absolute;
    bottom: 3px;
    left: 31px;
    transform: translateX(-50%);
  }