/* Style par défaut */
.collapse-button {
  background: #ff6060;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 💡 Style spécifique pour Logement */
.collapse-button-logement {
  width: 582px;
}

/* 💡 Style spécifique pour About */
.collapse-button-about {
  width: 1023px;
  font-size: 24px;
  font-weight: 700;
}

/* 💡 Disposition des collapse sur About */
.collapse-about {
  display: flex;
  flex-direction: column;
  width: 1023px;
  margin: 30px auto;
  align-items: center;
}

.collapse-content {
  display: block;
  background: #f6f6f6;
  padding: 20px 0;
  border-radius: 0 0 5px 5px;
  font-size: 18px;
}

/* Style pour la page Logement */
.collapse-logement .collapse-content {
  width: 582px;
}

/* Style pour la page About */
.collapse-about .collapse-content {
  width: 100%;
}

.arrow-collapse {
  font-size: 16px;
  transform: rotate(90deg);
}

.arrow-collapse.open-collapse {
  transform: rotate(-90deg);
}

/* Mobile */
@media screen and (max-width: 768px) {
  .collapse-button {
    width: 335px;
    height: 30px;
    font-size: 13px;
  }

  .collapse-logement .collapse-content {
    width: 335px;
  }

  .collapse-about {
    width: 335px;
    margin: 15px;
  }

  .collapse-button-about {
    width: 335px;
    height: 40px;
    font-size: 16px;
  }
}
