.collapse-button {
  width: 582px;
  background: #ff6060;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-collapse {
  font-size: 16px;
  transform: rotate(90deg);
}

.arrow-collapse.open-collapse {
  transform: rotate(-90deg);
}

.collapse-content {
  display: block;
  background: #f6f6f6;
  width: 582px;
  padding: 20px 0;
  border-radius: 0 0 5px 5px;
}
