.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 1240px;
width: 100%;
  gap: 40em;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;

}
