.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  max-width: 1240px;
width: 100%;
  gap: 44em;
  margin: 20px auto;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .header {

gap: 20em;
  }
}


@media screen and (max-width: 768px) {
  .header {
    width: 335px;
    height: 47px; 
    gap: 2em; 
    justify-content: space-between;
   margin: 0;
  }

  nav {
    gap: 15px; 
  }

  nav a {
    font-size: 18px; 
  }
}
