.footer {
  background: black;
  height: 209px;
 
  width: 100%;
  display: flex;
  gap: 90px;
  align-items: center;
  flex-direction: column;

  color: white;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
.footer {
  margin-top: 20px;

}
.copyright{
    font-size: 12px;
    text-align: center;
    width: 40%;
    margin: 0;
    
}
}