.footer {
  background: black;
  max-height: 209px;
  width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
  }
}
