.footer {
    background: black;
    height: 209px;
    /* height: auto; */
    width: 100%;
    display: flex
;
    gap: 90px;
    align-items: center;
    flex-direction: column;
    /* justify-content: end; */
    color: white;
    font-size: 24px;
    font-weight: 500;
}

