.logo-footer {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: black;
  justify-content: center;
  position: relative;
  top: 70px;

}

.first-white {
  height: 36px;
  width: 31px;
  bottom: 5px;
  position: relative;
  color: black;
}

.white-s,
.white-a {
  height: 28px;
  width: 23px;
  padding-left: 4px;
}

.logo-footer-container {
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-house {
  width: 26px;
  height: 31px;
}

.white-door {
  position: absolute;
  bottom: 3px;
  left: 28px;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .logo-footer {
    width: 130px; 
    height: auto;
gap: 5px;

  }

  .first-white {
    width: 37px; 
    height: 42px;
  }

  .white-s,
.white-a {
    width: 28px;
    height: 33px;
  }

  .white-house  {
    width: 31px;
    height: 36px;
  }

  .white-door {
    width: 4px;
        height: 15px;
        left: 23px;
  }

  .logo-footer-container {
    width: 30px;
   
  }
}
