.logo-footer {
  display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      background: black;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 30px;
}



@media screen and (max-width: 768px) {
  .logo-footer {
    width: 130px;
    height: auto;
  }


}
