/* Centrage global */
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
  box-sizing: border-box;
}




/* Conteneur global de l'application */
#root {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

